<!DOCTYPE html>
<html>
<head>
  <title>WalletApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- this is the ultimate wrapper file - anything put in here will display on every page -->
<% flash.each do |name, msg| %>
  <ul>
    <li> <%= msg %></li>
  </ul>
  <% end %>
  <!-- Because this wrapper will appear on all pages, its a good place to build a nav bar etc. -->
  <%= render 'layouts/navigation' %>
  <%= yield %>

</body>
</html>
