<!-- this is a partial - we use it so we dont have to keep copy and pasting shit across new and edit -->

<%= form_for @account do |f| %>
<!-- but at first rails dont know this, so you go back to controller and add within the def new-->
  <p style="font-family:helvetica;">
    <%= f.label :title %><br/>
    <!-- added a break - <br/> b/c it was too close together -->
    <%= f.text_field :title %>
    <!-- NOTE: CAN YOU CHANGE LABEL WITHOUT FUCKING THIS SHIT UP? -->
<!-- RESPONSE: I don't think so, pretty sure it has to match db columns we specifed under db folder -->  
  </p>
  
  <p style="font-family:helvetica;">
    <%= f.label :description %><br/>
    <!-- will be text_area instead of text_field b/c a description needs bigger space -->
    <%= f.text_area :description %>
  </p>

<!-- what else do I need? A SUBMIT BUTTON -->
  <p style="font-family:helvetica;">
    <%= f.submit %>
  </p>
<!-- but if you click it, you see what we need next is a create action-->
<% end %>
<%= link_to "Back to Account listings", accounts_path %>