<style type="text/css">
       
    html { 
  background:  url(https://static.pexels.com/photos/34435/pexels-photo.jpg) no-repeat center center fixed; 
  background-size: cover;
}
  </style>
<body>

<!-- how about a flash notice if we hit the else clause for bombing validation?-->
<% if  @account.errors.any? %>
  <h2>The following errors prevented the account from being created: </h2>
<ul>
  <% @account.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<h1 style="font-family:helvetica;"> Edit existing account </h1>
<i><p style="font-family:helvetica;"> NOTE: DO NOT GIVE AWAY AN IMPORTANT PASSWORD, I DO NOT SAFEGUARD HEROKU THE HOST, AND ADMIN MAY HAVE ABILITY TO SEE YOUR SUBMITTED INFORMATION </p>
  </i>

<%= form_for @account do |f| %>
<!-- but at first rails dont know this, so you go back to controller and add within the def new-->
  <p style="font-family:helvetica;">
    <%= f.label :title %><br/>
    <!-- added a break - <br/> b/c it was too close together -->
    <%= f.text_field :title %>
    <!-- NOTE: CAN YOU CHANGE LABEL WITHOUT FUCKING THIS SHIT UP? -->
<!-- RESPONSE: I don't think so, pretty sure it has to match db columns we specifed under db folder -->  
  </p>
  
  <p style="font-family:helvetica;">
    <%= f.label :description %><br/>
    <!-- will be text_area instead of text_field b/c a description needs bigger space -->
    <%= f.text_area :description %>
  </p>

<!-- what else do I need? A SUBMIT BUTTON -->
  <p style="font-family:helvetica;">
    <%= f.submit %>
  </p>
<!-- but if you click it, you see what we need next is a create action-->
<% end %>
<%= link_to "Back to Account listings", accounts_path %>
</body>